services:
  frontend:
    build:
      context: ..
      dockerfile: "@docker/Dockerfile.front"
    container_name: dictation_frontend
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT:-8080}:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
